h1,
h2 {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
}

header#hero-header {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

header#hero-header button {
    height: 3rem;
    width: 7rem;
}

div#content {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Home */

.home {
    flex: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.home header {
    grid-area: header;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}

.special {
    grid-area: special;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}

.special img {
    width: 150px;
    height: 150px;
}

/* Menu */

.menu {
    padding: 1rem;
    display: grid;
    grid-area: menu;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
}

.card {
    background-color: rgba(255, 255, 66, 0.499);
    border-radius: 10px;
    padding: 15px;
}

/* About  */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about h1 {
    margin: 1rem;
}

.about p {
    width: 30rem;
    line-height: 1.5rem;
    margin: 0.1rem;
}

.home footer {
    text-align: center;
    margin-top: auto;
}